@page "/trainLetter"

@inject ApiConnection _stations

<PageTitle>Sök efter station att åka från</PageTitle>

<div class="behind">
    <div class="search">
        <input type="text"
        placeholder="Skriv för att söka station"
        @bind-value="station"
        @bind-value:event="oninput"
        @onkeyup="FindStations"
        />
    </div>
    <div class="searchResultLayout">
    @if (foundStations is null)
    {
        <p class="emptySearchResult">Inga resultat...</p>
    }
    else
    {
        // TODO! Begränsa till typ 14 st resultat. 
        //Den ska inte visa fler resultat än vad det finns plats i alla fall
        foreach (var found in foundStations)
        {
            <p class="searchResult"> @found.AdvertisedLocationName</p>
        }
    }
    </div>
</div>

@code {
    private List<JsonStationObject.Trainstation> foundStations;
    private string station = "";

    private async void FindStations()
    {
        if(station.Count() > 0)
        {
            foundStations = await _stations.GetStationsAsync(station);
        }   
    }
}
