<div class="headerLayout">
        <div class="text">Går tåget?</div>
        <a class="byText" href="https://github.com/Loijsan/TrainDepartureWithBlazor">Av Loijsan</a>
</div>

<style>
.headerLayout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    /*color:red;*/
    /*background-color:mistyrose;*/
}
.text{
    font-family: 'Lucida Sans Typewriter';
    font-size: xx-large;
    align-self:center;
    /*background-color: purple;*/
}
.byText{
    font-family:'Times New Roman';
    font-size: medium;
    align-self:center;
    text-decoration: none;
    color: black;
    /*background-color: hotpink;*/
}
</style>

@code {

}
